body {
  font-family: sans-serif;
}

main {
  min-height: 80vh;
}

.navCustom {
  background-color: rgb(31, 31, 31) !important;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem, 0;
}

.rating span {
  margin: 0.1rem;
}

td {
  text-align: center;
}

/* .cartqty option {

} */

#cart-float {
  position: fixed;
  top: 0;
  top: 20%;
  display: inline;
  padding: 20px;
  z-index: 5;
  width: 70px;
  height: 50px;
  background-color: rgb(31, 31, 31);
  color: white;
  border-radius: 0 4px 4px 0;
}

#cart-float span {
  padding: 5px;
}

.shop-by-category .btn {
  display: flex;
  width: 120px;
  height: 100px;
  text-align: center;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

.product-carousel-image {
  width: 100% !important;
  height: 420px !important;
}

@media screen and (max-width: 991px) {
  .cart-mobile {
    display: block;
  }
  #cart-float {
    opacity: 0.5;
    backface-visibility: hidden;
    padding: 10px;
    width: 50px;
    height: 40px;
    text-align: center;
    justify-content: center;
  }
  #cart-float span {
    padding: 2px;
  }
  #order-order-id {
    word-wrap: break-word;
  }
}

@media screen and (max-width: 767px) {
  #image-cart {
    width: 30%;
  }
  #cart-qty {
    width: 40%;
  }
}
